

body {
font-family: Lora-Regular;
}

.header {
  margin-bottom: 10px;
}

img {
  width: 30px;
  height: 30px;
  margin-top: 20px;
}

hr {
  margin: 0;
}

.container {
text-align: center;
}

.main {
  height: 600px;
  margin: 0;
}

.search {

}

 form {
   width:200px;
   height: 30px;
   display:inline-block;
   margin-right: 220px;
}

form input {
  display: block;
  width: 400px;
  height: 40px;
  margin: 10px;
  font-size: 16px;
}

.bio {
  height: 200px;
}

.con-right {
  float: right;
  margin-right: 50px;
  padding-top: 50px;
}

.con-left {
  float: left;
  text-align: left;
  width: 50%;
}

.con-left-con {
  text-align: center;
  margin-top: 30px;
}

.element-back {
  width: 0;
	height: 0;
	border-left: 150px solid transparent;
	border-right: 240px solid transparent;
	border-bottom: 300px solid #D8D9DB;
  transform: rotate(10deg);
  position: relative;
  right: 10px;
  margin-right: 0px;
}

.element-front {
  width: 0;
	height: 0;
	border-left: 150px solid transparent;
	border-right: 240px solid transparent;
	border-bottom: 300px solid #85FDF3;
  transform: rotate(45deg);
  position: absolute;
  overflow: hidden;
  top: 100px;
  right: -270px;
}

footer {
  margin-top: 15px;
  text-align: center;
}

h5 a {
  font-size: 20px;
  font-weight: bold;
  color: #A9A9A9;
  font-style: none;
}
