body {
font-family: Lora-Regular;
margin: 0;

}

hr {
  margin: 0;
}

.container {
  display: flex;
  justify-content: space-between;

  width: 100%;*/
  flex-direction: row;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 600px;
  width: 100%;

}

.search {

}

 form {
   width:200px;
   height: 30px;
   display:inline-block;
   margin-right: 220px;
}

form input {
  display: block;
  width: 400px;
  height: 40px;
  margin: 10px;
  font-size: 16px;
}

.bio {
  height: 200px;
}

.con-right {
 display: flex;
 margin-right: 50px;
 padding-top: 50px;

}

.con-left {
  display: flex;
  flex-direction: column;
  float: left;
  text-align: left;
  width: 50%;

}

.con-left-con {
  text-align: center;
  margin-top: 30px;
}

.element-back {
  width: 0;
	height: 0;
	border-left: 150px solid transparent;
	border-right: 240px solid transparent;
	border-bottom: 300px solid #D8D9DB;
  transform: rotate(10deg);
  position: relative;

}

.element-front {
  width: 0;
	height: 0;
	border-left: 150px solid transparent;
	border-right: 240px solid transparent;
	border-bottom: 300px solid #85FDF3;
  transform: rotate(45deg);
  position: absolute;
  overflow: hidden;
  top: 100px;
  right: -270px;


}
