
<div class="main">
	<div class="container">
	<!-- Left Content -->
	<div class="col-lg-6" class="con-left">
		<div class="con-left-con">
		<h3>Welcome to <span style="color:#85FDF3" >DevMountain</span> Social! <br> Add some info so friends can find you.</h3>

	<!-- User Info Form -->
	<form ng-submit="newUser()">
		<input ng-model="name" type="text" name="search" placeholder="Full 	Name"></input>
		<input ng-model="tagLine" type="text" name="search" 	placeholder="Tagline"></input>
		<input ng-model="imgUrl" type="text" name="search" placeholder="Profile Image URL"></input>
		<input ng-model="bio" type="text" name="search" 	placeholder="Bio" class="bio"></input>
		<button ng-click="addUserInfo()">Save Changes</button>
	</form>
	</div>
 </div>

	<!-- Content Right -->
	<div class="col-lg-6" class="con-right">
		<div  class="element-back"><div class="element-front"></div>
		</div>
	</div>
</div>
</div>
